<template>
  <q-toolbar color="dark">
 
  <q-toolbar-title>
    Edycja strony
  </q-toolbar-title>

  <q-btn flat round dense icon="mail" />
    <q-btn label="Lista" v-bind:to="{name: 'pages.index'}" />
    <q-btn label="Nowa" v-bind:to="{name: 'pages.create'}" />
</q-toolbar>
 
</template>
