<q-layout view="hHh Lpr lFf"  class="bg-light">
    <q-layout-header>
        <q-toolbar color="primary" :inverted="$q.theme === 'ios'">
            <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
                <q-icon name="menu" />
            </q-btn>

            <q-toolbar-title>
                Eribu Contents
                <div slot="subtitle">Running on v{{ $q.version }}</div>
            </q-toolbar-title>
        </q-toolbar>
    </q-layout-header>

    <q-layout-drawer v-model="leftDrawerOpen" v-bind:content-class="$q.theme === 'mat' ? 'bg-dark text-white' : null">
        <q-list no-border link inset-delimiter>
            <q-list-header>Essential Links</q-list-header>
            <q-item v-bind:to="{name: 'dashboard'}">
                <q-item-side icon="dashboard" />
                <q-item-main label="Dashboard" sublabel="Menagment center" />
            </q-item>
            <q-item v-bind:to="{name: 'media'}">
                <q-item-side icon="backup" />
                <q-item-main label="Media" sublabel="File managment" />
            </q-item>

            <q-item v-bind:to="{name: 'users'}">
                <q-item-side icon="face" />
                <q-item-main label="Users" sublabel="Users managment" />
            </q-item>
            <q-item v-bind:to="{name: 'pages.index'}">
                <q-item-side icon="face" />
                <q-item-main label="Pages" sublabel="Pages managment" />
            </q-item>

            <q-item @click.native="openURL('http://quasar-framework.org')">
                <q-item-side icon="school" />
                <q-item-main label="Docs" sublabel="quasar-framework.org" />
            </q-item>
            <q-item @click.native="openURL('https://github.com/quasarframework/')">
                <q-item-side icon="code" />
                <q-item-main label="GitHub" sublabel="github.com/quasarframework" />
            </q-item>
            <q-item @click.native="openURL('https://discord.gg/5TDhbDg')">
                <q-item-side icon="chat" />
                <q-item-main label="Discord Chat Channel" sublabel="https://discord.gg/5TDhbDg" />
            </q-item>
            <q-item @click.native="openURL('http://forum.quasar-framework.org')">
                <q-item-side icon="record_voice_over" />
                <q-item-main label="Forum" sublabel="forum.quasar-framework.org" />
            </q-item>
            <q-item @click.native="openURL('https://twitter.com/quasarframework')">
                <q-item-side icon="rss feed" />
                <q-item-main label="Twitter" sublabel="@quasarframework" />
            </q-item>
        </q-list>
    </q-layout-drawer>

    <q-page-container>
        <router-view />
    </q-page-container>
</q-layout>
