<template>
  <div>
    <toolbar></toolbar>
    <div class="row">
      <div class="q-pa-sm col-12">
        <main-table>
        </main-table>
      </div>
    </div>
  </div>
</template>

<style>
</style>

<script>
import MainTable from "./table";
import Toolbar from "./toolbar/toolbar"
export default {
  name: 'PageIndex',
  data() {
    return {}
  },
  methods: {

  },
  components: {
    'main-table': MainTable,
    'toolbar': Toolbar
  },
  mounted() {

  }
}
</script>
