<template>
  <div>
    <toolbar></toolbar>
    <div class="row">
      <div class="q-pa-sm col-6">
        <q-card class="bg-white">
          <q-card-title>
            Dane strony
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <q-field :count="10" helper="" error-label="Pole Wymagane" v-bind:error="$v.form.name.$error">
              <q-input v-model="form.name" float-label="Tytuł wpisu" />
            </q-field>
            <q-field :count="10" helper="Treść">
              <q-editor v-model="form.description" toolbar-text-color="white" toolbar-toggle-color="yellow-8" toolbar-flat toolbar-bg="primary" :toolbar="[
        ['bold', 'italic', 'underline'],
        [{
          label: $q.i18n.editor.formatting,
          icon: $q.icon.editor.formatting,
          list: 'no-icons',
          options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
        }]
      ]" />
            </q-field>
            <q-field :count="10" helper="">
              <q-input readonly v-model="slugifyName" float-label="Slug" />
            </q-field>
          </q-card-main>
        </q-card>
      </div>
      <div class="q-pa-sm col-6">
      </div>
      <div class="q-pa-sm col-12">
        <q-btn-group>
          <q-btn color="primary" label="Zapisz" v-on:click="submitForm" />
          <q-btn color="deep-orange" label="Anuluj" />
        </q-btn-group>
      </div>
    </div>
  </div>
</template>

<style>
</style>

<script>
import MainTable from "./table";
import Toolbar from "./toolbar/toolbar";
import slugify from "slugify";
import { required } from 'vuelidate/lib/validators'
export default {
  name: 'PageIndex',
  data() {
    return {
      cleanForm: {},
      form: {
        name: '',
        description: '',
        slug: ''
      },
    }
  },
  validations: {
    form: {
      name: { required }
    }
  },
  methods: {
    mailHasError() {
      return false;
    },
    saveWork() {
      return false;
    },
    upload() {
      return false;
    },
    spellCheck() {
      return false;
    },
    importSomething() {},

    submitForm() {
      console.log(this.form);

      this.$v.form.$touch()

      if (this.$v.form.$error) {
        this.$q.notify({
          message: `Popraw blędy w formularzu`,
          type: 'negative',
          position: 'top-right'
        })
        return
      }

      this.$axios.post(this.$zroute('pages.store'), this.form).then((response) => {
        this.$q.notify({
          message: `Dane zostały zapisane`,
          type: 'positive',
          position: 'top-right'

        });
        this.form = this.cleanForm;
      });
    }

  },
  computed: {
    slugifyName() {
      this.form.slug = slugify(this.form.name);
      return this.form.slug;
    }
  },
  components: {
    'main-table': MainTable,
    'toolbar': Toolbar
  },
  mounted() {
    this.cleanForm = this.$_.cloneDeep(this.form);
  }

}
</script>
