<template>
  <q-table title="Table Title" :data="tableData" :columns="columns" row-key="name" class="bg-white">
    <q-td slot="body-cell-name" slot-scope="props" :props="props">
      <q-chip small color="secondary">
        <a v-bind:href="props.value">{{ props.value }}</a>
    </q-chip>
    </q-td>
    <q-td slot="body-cell-filename" slot-scope="props" :props="props">
      pl
    </q-td>
  </q-table>
</template>

<style>
</style>

<script>
export default {
  name: 'FilesTable',
  data() {
    return {
      tableData: [],
      columns: [{

          name: 'name',
          required: true,
          label: 'Tytuł',
          align: 'left',
          sortable: true,
          field: 'name',
         
        },

        {
          name: 'filename',
          required: true,
          label: 'Plik',
          align: 'left',
          field: 'filename',
          sortable: true
        },

      ],

    }
  },
  methods: {
    getData() {
      this.$axios.get(this.$zroute('pages.index')).then((response) => {
        this.tableData = response.data;
        console.log(this.tableData);
      });
    }
  },
  mounted() {
    this.getData();
  }
}
</script>
