<template>
  
    <q-table
    title="Table Title"
    :data="tableData"
    :columns="columns"
    row-key="name"
  />
 
</template>

<style>


</style>

<script>
    export default {
        name: 'FilesTable',
        data() {
            return {
                tableData: [],
                columns: [{
                        name: '',
                        required: true,
                        label: 'Dessert (100g serving)',
                        align: 'left',
                        field: 'thumbnail',
                        sortable: true,
                        format: val => `<img src="${val}">`
                    },
                    {
                        name: 'Plik',
                        required: true,
                        label: 'Dessert (100g serving)',
                        align: 'left',
                        field: 'filename',
                        sortable: true
                    },

                ],

            }
        },
        methods: {
            getData() {
                this.$axios.get(this.$zroute('files.index')).then((response) => {
                    this.tableData = response.data;
                    console.log(this.tableData);
                });
            }
        },
        mounted() {
            this.getData();
        }
    }

</script>
