<template>
      <div class="row gutter-xs">
  <div class="col-3">
      <q-card class="q-mt-md q-mr-sm">
     <q-tree v-bind:default-expand-all="true" :nodes="simple" node-key="label" />
          </q-card>
    </div>
  <div class="col-9">
    <q-card class="q-mt-md q-mr-sm"> 
      <files-table></files-table>
    </q-card>
      <q-card class="q-mt-md q-mr-sm"> 
      <q-uploader v-bind:url="url" auto-expand method="POST"/>
           </q-card>
  </div>
</div>  
</template>

<style>


</style>

<script>
    import FilesTable from "./filesTable";
    export default {
        name: 'PageIndex',

        data() {
            return {
                url: this.$zroute('files.store'),
                simple: [{
                    label: 'Satisfied customers',
                    children: [{
                            label: 'Good food',
                            children: [{
                                    label: 'Quality ingredients'
                                },
                                {
                                    label: 'Good recipe'
                                }
                            ]
                        },
                        {
                            label: 'Good service (disabled node)',
                            disabled: true,
                            children: [{
                                    label: 'Prompt attention'
                                },
                                {
                                    label: 'Professional waiter'
                                }
                            ]
                        },
                        {
                            label: 'Pleasant surroundings',
                            children: [{
                                    label: 'Happy atmosphere'
                                },
                                {
                                    label: 'Good table presentation'
                                },
                                {
                                    label: 'Pleasing decor'
                                }
                            ]
                        }
                    ]
                }]
            };
        },
        components: {
            FilesTable
        },
        mounted: function() {
            console.log('this:', this);
            console.log('zroute', this.$zroute('files.store'));
            console.log('axios', this.$axios);
        }
    }

</script>
